@model Eplango.Models.Employee
@{
    ViewBag.Title = "EmployeeDetails";
}

<h2>EmployeeDetails</h2>

<h1>@Model.Name</h1>
<h1>@Model.Phone</h1>
<h1>@Model.Address</h1>
<h1>@Model.Department.Name</h1>